@charset "utf-8";
/* CSS Document */


@media (min-width: 1600px) and (max-width: 1500px){
	
}
@media (min-width: 1500px) and (max-width: 1600px){
	
}

@media (min-width: 1400px) and (max-width: 1500px){
	
}

@media (min-width: 1300px) and (max-width: 1400px){
	
}
@media (min-width: 1200px) and (max-width: 1300px){
	
}

@media (min-width: 1024px) and (max-width: 1200px){
	
}

@media (min-width: 992px) and (max-width: 1024px) {
	
}

@media (min-width: 992px) {
  .asb19__header--nav .navbar-nav {
    column-count: 2;
      display: block;
      transition: all 0.3s ease-in-out;
    }
    .asb19__header.fixed__header .asb19__header--nav .navbar-nav {
      column-count: unset;
      display: inherit;
      gap: 30px;transition: all 0.3s ease-in-out;
    }
    .asb19__header.fixed__header .asb19__header--nav .asb19__header--right {padding: 0;}
    .asb19__header--nav .asb19__header--right {
      display: flex;
      align-items: center;
      gap: 40px;
      padding: 15px 0 15px 50px;
  position: relative;
    }
    .asb19__header.fixed__header .asb19__header--nav .navbar-brand {
      padding: 8px 0;
        max-width: 100px;
    }
    .asb19__header--nav .asb19__header--right::before {
      position: absolute;
      content: '';
      width: 1px;
      height: 100%;
      background-color: #52525224;
      left: 0;
    }
    .asb19__header.fixed__header .asb19__header--nav .asb19__header--right::before {display: none;}
}    
@media only screen and (max-width: 991.98px) {    

}


@media (max-width: 767.98px){
    
}

@media (max-width: 575.98px){
    
}
